:root {
  --navy-blue:#0F1626;
  --leather:#AB987A;
  --coral:#FF533D;
  --eggshell:#F5F5F5;
  --black:#000000;
}
body {
  background-color: var(--leather);
  margin:0;
  padding: 0;
}
.container-fluid {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.row {
  padding: 0;
  margin: 0;
}

#banner {
  font-size:72px;
  color: var(--leather);
  text-align: left;
}
.nav-bar-sc {
  position: fixed; /* Set the navbar to fixed position */
  /*Position the navbar at the top of the page */
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-end;
  top:0;
  z-index: 4;
}
/*for small screens use fixed nav */
@media screen and (max-width: 800px) {
  .nav-bar-sc {
    display: block;
    top: initial;
    position: initial;
  }
  .profile-pane {
    margin: 0px;
  }
}
#nav-section{
  background-image: url(imgs/gradient2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy-blue);
  border-top: 50px solid var(--navy-blue);
  border-bottom: 50px solid var(--navy-blue);
  
}
#nav-section h2 {
  color: var(--eggshell);
}
.nav-btn:hover {
  background-color: var(--eggshell);
  color: var(--navy-blue);
  border: 1px solid black;
}
.nav-btn {
  background-color: var(--coral);
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif; 
}
#about-text{
  color: var(--navy-blue);
}
#avatar-image{
  
  max-width:350px;
  max-height:250px;
  margin: 20px;
  border-radius: 100%;
  border: 1px solid black;
  
}
#banner-text {
 padding: 20px;
}
#port-section{
  margin-top: 20px;
  border-bottom: 1px solid var(--eggshell);
  text-align: center;
}
.profile-pane {
  margin:20px;
  border: 1px solid var(--eggshell);
  display: flex;
  flex-direction: column;
  min-width: 350px;
  text-align: center;
  height: 800px;
  background-color: var(--navy-blue);
  color: var(--eggshell);
  overflow: auto;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-pane h3{
  color: var(--coral);
  font-size: 2em;
}
.profile-pane h4{
  color: var(--coral)
}
.profile-pane p {
  color:(--eggshell);
}

#thumbnails{
  min-height:300px;
  max-height: 375px;
  max-width: 100%;
  border-radius: 3px;
}
#thumbnails:hover {
  opacity: 0.4;
  border: 2px solid var(--coral);
  
}

#skills-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
#skills-description {
  color: var(--navy-blue)
}
#skills-section div {
  flex-direction: column;
  
  
}
#skills-section h3 {
  color: var(--coral);
  font-size: 2.5em;
  
}
#contact-section{
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, rgb(246, 246, 246), rgb(144, 144, 144),rgb(59, 59, 59));
  background-size: fill;
}
#contact-section li {
  display: inline;
  margin: 10px;
}
#contact-section p {
  color: var(--navy-blue);
  font-family: 'Open Sans Condensed', sans-serif; 
  width: 80%;
  margin: 0 auto;
}
.icon-buttons {
  /* background: var(--eggshell);
  height: 50%;
  line-height: 1.2;
   */
  margin-top: 10px;
  color: var(--eggshell);
  
  
}
.icon-buttons:hover {
  color: var(--navy-blue);
}


a {
	color: var(--leather);
	font-family: 'Open Sans Condensed', sans-serif;
}


h1 {
    font-family: 'Crimson Text', serif;
    
  }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size:48px;
  color: var(--eggshell);
}
h4 {
  font-style: italic;
}
strong {
  font-style: normal;
  font-size: 1em;
  color: var(--navy-blue);
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: var(--eggshell);
}
li {
  list-style-type: none;
  color: var(--navy-blue);
  font-family: 'Open Sans Condensed', sans-serif;
}

