:root {
  --light_pink_black: #c7aec2;
  --light_purple_pink: #ae85ad;
  --dark_fushia: #893d76;
  --dark_purple: rgba(191, 0, 255, 0.1);
  --light_grey: #dcdede;
  --med_light_grey: #aeafb2;
  --med_grey: #a2a4a4;
  --med_dark_grey: #867f8b;
  --med_dark_brownish_grey: #646c64;
  --med_dark_dark_grey: #545c5c;
  --black: #140f12;

}


body {
  background-color: var(--light_grey);
  margin:0;
  padding: 0;
}
a {
	color:var(--black);
	font-family: 'Open Sans Condensed', sans-serif;
}
a:hover {
  color: var(--light_grey);
}
h1 {
    font-family: 'Crimson Text', serif;
    
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size:40px;
  color: var(--black);
}
h3 {
  font-size: 32px;
  color: var(--light_grey);
  padding: 10px;
}
h4 {
  font-style: italic;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  color: var(--black)
}
strong {
  font-style: normal;
  font-size: 20px;
  color:var(--light_purple_pink);
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: var(--med_dark_dark_grey);
}
li {
  list-style-type: circle;
  color:var(--light_pink_black);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--light_pink_black);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    padding: 0; 
}
figcaption {
  font-size: 10px;
}
.brand-image {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.container-fluid {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.row {
  padding: 0;
  margin: 0;
}
#banner {
  font-size:76px;
  color:var(--med_dark_brownish_grey);
  text-align: left;
}
.box-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 175px;
  padding: 15px;
  font-size: 40px;
}

#about-text {
  width: 80%;
  margin-top: 20px;
  text-align: left;
}
#avatar-image{
  max-width:350px;
  max-height:250px;
  margin: 10px;
  border-radius: 100%;
  border-color: var(--light_purple_pink);
  box-shadow: 0 0 5px var(--dark_fushia), inset 0 0 5px var(--dark_purple), 0 1px 0 var(--light_pink_black);
  animation: glow 1200ms ease-out infinite alternate;
}
#banner-text {
 padding: 10px;
 margin: 10px;
}


#nav-section {
  background-image: url(imgs/gradient2.gif);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-color:var(--light_grey);
  border-bottom: 2px solid var(--light_purple_pink);
  position: relative;
  z-index: 5;
}

.navbar-container {
  margin: 0 auto;
  
}
.nav-link-a {
  font-size: 26px;
  font-family: 'Crimson Text', serif;
  color: var(--light_pink_black);
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-container a:hover {
  color:var(--light_pink_black); 
}
#nav-section h2 {
  color: var(--dark_fushia);
}
/* comment out .nav-bar-sc to make nav stay at the top 
  when in fullscreen view*/

.nav-bar-sc {
  position: fixed;
  padding: 5px;
  border: 1px solid var(--light_purple_pink);
  margin: 20px;
  border-radius: 5px;
  
  
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
  
  border: 1px solid var(--light_grey);
  box-shadow: 0 0 5px var(--dark_fushia), inset 0 0 2px var(--dark_purple), 0 1px 0 var(--black);
  animation: glow 1200ms ease-out infinite alternate;
  top:0;
  right: 0;
  
  color: var(--light_grey);
  text-align: left;
}
.nav-bar-sc .navbar-toggler:hover {
  border: 1px solid var(--light_pink_black);
}

.nav-btn {
  background-color: var(--black);
  border: 1px solid var(--light_pink_black);
  box-shadow: 0 4px 8px 0 var(--light_pink_black), 0 6px 20px 0 var(--dark_fushia); 
  border-radius: 5px;
  width: 170px;
  height: 50px;
  margin-right: 20px;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif; 
}
#port-section{
  align-content: center;
  
  
  
}
#port-summary {
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to bottom, var(--med_dark_dark_grey), var(--med_dark_grey), var(--med_grey), var(--med_light_grey), var(--light_grey) );
  padding: 20px;
}
#port-summary h5{
  width: 60%;
}


.profile-pane {
  margin:18px;
  z-index: 4;
  
  min-width: 350px;
  text-align: center;
  height: 800px;
  background-color:var(--dark_fushia);
  
  overflow: auto;
  border-radius: 5px;
  border: 1px solid var(--light_grey);
  box-shadow: 0 0 5px var(--dark_fushia), inset 0 0 5px var(--dark_purple), 0 1px 0 var(--light_pink_black);
  animation: glow 1000ms ease-out infinite alternate;
  padding: 10px;
  
}
.profile-pane h4{
  color: var(--light_grey);
}

.profile-pane p {
  color: var(--light_pink_black);
}

#thumbnails{
  min-height:300px;
  max-height: 375px;
  max-width: 100%;
  border-radius: 3px;
}
#thumbnails:hover {
  opacity: 0.5;
  border: 4px solid var(--light_purple_pink);
  animation: thumbFlash 3s;
  
}
#skills-section{
  text-align: left;
  align-items: center;
  padding: 10px;
  
  margin:0 auto;
  margin-bottom: 30px;
}
#skills-description {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}
.hard-center-flex {
  margin: 0 auto;
}

#skills-section h2, h3 {
  text-align: center;
} 
#skills-section h4 {
  text-align: left;
  font-size: 18px;
}
#skills-ul1 {
  text-align: center;
  padding: 10px;
}
#skills-ul1 li {
  list-style-type: none;
}
#skills-section #edu-image {
  max-width: 100%;
  border: 1px solid var(--light_pink_black);
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 10px;
}
#contact-section{
  min-height: 300px;
  border-top: 1px solid var(--med_light_grey);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to top, var(--med_dark_dark_grey), var(--med_dark_grey), var(--med_grey), var(--med_light_grey), var(--light_grey) );
}

#contact-summary {
  font-family: 'Open Sans Condensed', sans-serif; 
  text-align: left;
  margin: 0 auto; 
}
#contact-section div div p {
  color:var(--med_dark_dark_grey);
  font-family: 'Open Sans Condensed', sans-serif; 
  width: 60%;
  padding: 10px;
  margin: 0 auto
 
}
#contact-section h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--dark_fushia);
}
.icon-buttons {
  margin-top: 10px;
  margin: 5px;
  color: var(--dark_fushia);
  
}
.icon-buttons:hover {
  color:var(--black);
}
#contact-section div div p#trademark {
  font-style: italic;
  padding-top: 40px;
  font-size: 12px;
  color: var(--light_purple_pink);
}

/* Animation Frames: */
/* Chrome, Safari, Opera */
@-webkit-keyframes thumbFlash {
  from {
    border: 1px solid var(--light_grey);
    opacity: 0.4;
  }
  to {
    border: 3px solid var(--light_purple_pink);
    opacity: 1.0;
    border-radius: 75%;
  }
}
/* Animate the thumbnail image borders on hover*/
@keyframes thumbFlash {
  from {
    border: 10% solid var(--light_grey);
    opacity: 0.4;
  }
  to {
    border: 50% solid var(--light_purple_pink);
    opacity: 1.0;
    border-radius: 75%;
  }
}

@keyframes glow {
  0% {
  border-color: var(--med_dark_dark_grey);
  box-shadow: 0 0 5px var(--light_purple_pink), inset 0 0 1px var(--dark_purple), 0 1px 0 var(--light_pink_black);
  }	
  100% {
  border-color: var(--light_grey);

  box-shadow: 0 0 30px var(--light_purple_pink), inset 0 0 4px var(--dark_fushia), 0 1px 0 var(--light_pink_black);
  }
  
}

/*Change styles as below when screen is below 800 px wide*/
@media screen and (max-width: 800px) {
  .nav-bar-sc {
    position: fixed;
    padding: 5px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:0;
    right: 0;
    z-index: 4;
    color: var(--light_grey);
    text-align: left;
  }
  .nav-bar-sc:hover {
    border: 1px solid var(--light_grey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .profile-pane {
    margin: 10px;
  }
  #avatar-image {
    margin-top: 65px;
  }
  #port-summary h5{
    width: 100%;
  }
  #skills-section {
    width: 100%;
  }
  #skills-description {
    width: 100%;
    padding: 10px;
  }
  div div p#contact-summary {
    width: 100%;
  }
  div div p#trademark {
    width: 100%;
  }
  #contact-section p, #port-summary {
  width: 100%;
  }
  #about-text {
    width: 100%;
    margin: 5px;
  }

}



